.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
	background-color: #b7d1c4
}

h2 {
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	color: #acd1b2;
}

/*img.shadow {
	height: 170px;
	width: 170px;
	box-shadow: rgba(0,0,0,0.2) 10px 10px;}*/


}


#left{
	width: 45%;
	float: left;
}

p {
	font-family: Tahoma;
	font-size: 1em;
}

#right{
	width: 45%;
	float: right;
}

table {
	border: #000000 1px solid;
	background-color: #acd1b2;
	float: right;
	margin-right: 10px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}

td {
	height: 75px;
	width: 75px;
}

td img {
	height: 75px;
	width: 75px;
	box-shadow: none;
}

th {
	font-family: Verdana;
	font-size: 1em;
	font-weight: normal;
	color: #3c4543
}

#bottom_left{
	border-bottom-left-radius: 15px;
}

#bottom_right{
	border-bottom-right-radius: 15px;
}

#footer{
	clear: both;
	position: relative;
	bottom: -20px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	height: 75px;
	background-color: #3c4543;
}
.bold{
	font-family: tahoma;
	font-weight: bold;
	font-size: 1.2em;
	font-variant: small-caps;
	color: #ffffff;
}
div.div_float_1 {float:left;
	margin-left: 75px;
	margin-top: 50px;
	margin-right: 25px;
	margin-bottom: 50px;}
div.div_float_2 {float:left;
	margin-left: 25px;
	margin-top: 50px;
	margin-right: 75px;
	margin-bottom: 50px;}

#body_div{width:600px; margin:auto;}

.one_of_four{
	text-align: center;
	color:#95a5a6;
	font-family: Courier;
	font-size: 50px;
}
.two_of_four p{
	height:400 px;
	color:#95a5a6;
	font-family: Courier;
	font-size: 50px;
}

.two_of_four img{
	width: 200px;
	height: 200px;
	max-height: 100%;
	max-width: 100%;
	margin: 0 auto;
	display: block;
}

.three_of_four p{
	color:#95a5a6;
	font-family: Courier;
	font-size: 40px;
}

.five_of_four p{
	color:#95a5a6;
	font-family: Courier;
	font-size: 22px;
}

@media (max-width: 600px){
	.div_float_2,
	.div_float_1{
		float: none;
		display: block;
		width: 100%;
		margin: 0 auto;
	}
}
